	<p><%= p.name %>
	<%= link_to "Did it", "dailies/augment_streak/"+p.id.to_s, :class => "btn btn-sm btn-primary pull-right" %>
	</p>
	<br>	
	<%= link_to "DESTROY", "dailies/"+p.id.to_s, :method => :DELETE, :class => "btn btn-sm btn-danger pull-right" %>			
	<p>Streak:
	<% p.streak.times do %>
		x
	<% end %>	
	</p>
	<br>