<div class="borderz goal-div">
	<p class="goal-title">
	<%= link_to "-", "goals/"+p.id.to_s, :method => :DELETE, :class => "minus-button-2 pull-left" %>
	<%= p.name %>
	</p>	
	<span class="pull-right target-date"><%= p.target_date %></span>
	<br>
</div>